@tailwind base;
@tailwind components;
@tailwind utilities;

a,h1,h2,h3 {
    --tw-text-opacity:1;
}

h1,h2,h3 {
    color: rgb(31 41 55/var(--tw-text-opacity));
}

#returned-quote{
    white-space: pre-wrap;
}


/* @media (min-width: 1280px) {
    #z {    
      display: none
    }
} */